.delete-modal-text {
  color: red;
  margin-left: 1vw;
  margin-right: 1vw;
  text-align: center;
  margin-bottom: calc(25px + 5vw);
}

.modal-header {
  margin-top: 1vw;
}

.delete-modal-content {
  margin-bottom: 10px;
}

.subtext {
  color: black;
  font-weight: bold;
}

.modal {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin-left: 9vw;
  margin-right: 9vw;
  outline-style: ridge;
}

.left.left {
  margin-left: 2vw;
}

.right.right {
  float: right;
  margin-right: 2vw;
}